extends /layout

block content
    .top-progress
        progress#hw-progress(class="full", title="You are 0% done with homework!", value=0, data-value=0, max="100")
                
    .container
      if date == false
        .page-header
          h1 Invalid Date
      else    
        .page-header
          h1= "Homework for "+date.format("dddd, MMMM Do YYYY")
            small.right= fromNow
        .row
          .col-xs-12.text-center
            a.btn.btn-default(href="/days/"+previous+"/homework") Previous Day
            a.btn.btn-default(href="/days/closest") Closest Day
            a.btn.btn-default(href="/days/today") Today
            a.btn.btn-default(href="/days/"+next+"/homework") Next Day
          .col-xs-12.text-center
            if day != false
              b#schedule-day= day.scheduleDay 
        
        
        if work != false
          .row
            for sub in workSubs
              .col-xs-12.col-md-6.text-center
                h2= sub
                ol
                for item in work[sub]
                  li
                    span(id=item.subject+"-assignment-"+item._id, class="assignment"+(item.completed == true ? " completed" : ""))= item.assignment+" "
                    i.fa.fa-close.remove-assignment(id="remove-"+item.subject+"-assignment-"+item._id)
                    span  &nbsp;  &nbsp;  &nbsp;
        else
          h3.text-center No work!
          
        .col-xs-12.text-center
          form.form-inline(method="GET", role="form")
            br
            br
            br
            br
            if day == false
              select.form-control(name="newDaySD")
                option(value="A", selectme=( sd == "A" ? "true" : "false")) A-Day
                option(value="B", selectme=( sd == "B" ? "true" : "false")) B-Day
                option(value="C", selectme=( sd == "C" ? "true" : "false")) C-Day
                option(value="D", selectme=( sd == "D" ? "true" : "false")) D-Day
                option(value="E", selectme=( sd == "E" ? "true" : "false")) E-Day

            select.form-control(id="newItemSubject", name="newItemSubject", required=true)
              if currentUser.courses.length == 0
                option No courses to select from!
              else
                for course in currentUser.courses
                  option(value=course.title)= sub.title
            input.form-control(name="newItemDesc", type="text", placeholder="Description", required=true)
            button.btn.btn-primary.full-when-xs Add
        
  
    //script(src="/javascripts/jquery.knob.js")
