extends /layout

block content
    .top-progress
        progress#hw-progress(class="full", title="You are 0% done with homework!", value=0, data-value=0, max="100")

    .container
      if date == false
        .page-header
          h1 Invalid Date
      else    
        .page-header
          h1= "Homework for "+date.format("dddd, MMMM Do YYYY")
            small.right= fromNow
        .row
          .col-xs-12.text-center
            if day != false
              b#schedule-day= day.scheduleDay 

        if work != false
          .row
            for sub in workSubs
              .col-xs-12.col-md-6.text-center
                h2= sub
                ol
                for item in work[sub]
                  li
                    span(id=item.subject+"-assignment-"+item._id, class="assignment"+(item.completed == true ? " completed" : ""))= item.assignment+" "
                    i.fa.fa-close.remove-assignment(id="remove-"+item.subject+"-assignment-"+item._id)
                    span  &nbsp;  &nbsp;  &nbsp;
        else
          h3.text-center No work!

        .col-xs-12.text-center
          form.form-inline(method="GET", role="form")
            br
            br
            br
            br
            if day == false
              select.form-control(name="newDaySD")
                for s in ['A', 'B', 'C', 'D', 'E']
                  option(value=s, selectme=( sd == s ? "true" : "false")) #{s}-Day

            select.form-control(id="newItemSubject", name="newItemSubject", required=true)
              if currentUser.courses.length == 0
                option No courses to select from!
              else
                for course in currentUser.courses
                  option(value=course.title)= sub.title
            input.form-control(name="newItemDesc", type="text", placeholder="Description", required=true)
            button.btn.btn-primary.full-when-xs Add

    //script(src="/javascripts/jquery.knob.js")
