extends /layout

block content
  .container
    .jumbotron.no-margin
      h1.no-margin Welcome, Mighty Admin
    
    
    .col-xs-12
      hr
      form.form(action="/loginas")
        .form-group
          label(for="loginas") Login as User: 
          input.form-control(maxlength="50", type="text", name="user", placeholder="Username")
        button.btn.btn-default Login
      hr
    
    .col-xs-12.col-md-6
      .panel.panel-default#log-panel
        .panel-heading
          h2.panel-title Log
        
        if logs == false
          span Nothing!
        else
          table.table.table-striped
            thead
              th Who
              th What
              th When
            for log in logs
              if log.who != null
                tr
                  td.user-badge(data-username=log.who)= log.who
                  td= log.what
                  td(title=moment(log.when).format("dddd, MMMM Do YYYY, h:mm:ss a"))= moment(log.when).fromNow()

    .col-xs-12.col-md-6
      .panel.panel-default#feedback-panel
        .panel-heading
          h2.panel-title User Feedback
          
        if feedback == false
          span No feedback submitted yet!
        else
          table.table.table-striped
            thead
              th Type
              th Message
            for f in feedback
              tr(title=moment(f.date_sent).format("dddd, MMMM Do YYYY, h:mm a"))
                td= f.feedbackType
                td= f.text

    if production == false
      .col-xs-12
        form.form(method="POST", action="/admin/clearcollection")
          .form-group
            label(for="collection") Collection
            select.form-control#dropcollection(name="collection")
              each c in ['HWItem', 'Day', 'Grade', 'Feedback', 'Log', 'Reminder']
                option= c
          button.btn.btn-danger Delete
