extends /layout

block content
  .container
    include /info
    .page-header
      h1 Days
    
    .row
      for d in days
        +day(d)

mixin day(day)
  .col-xs-12.col-sm-6.col-md-4
    .panel.panel-default.magictime.perspectiveDownRetourn
      .panel-body
        h3.no-margin
          a.undecorated(href="/days/"+moment(day.date).format("YYYY-MM-DD"))= moment(day.date).format("dddd, MMMM Do")
          small.right #{day.scheduleDay}-Day
        hr
        -formatted = "/days/"+moment(day.date).format("YYYY-MM-DD")
        -hw = (day.items.homework ? day.items.homework.length : 0) 
        -tests = (day.items.tests ? day.items.tests.length : 0)
        -quizzes = (day.items.quizzes ? day.items.quizzes.length : 0)
        -projects = (day.items.projects ? day.items.projects.length : 0)
        section.day-list-info
          a.undecorated(class=(tests > 0 ? "has" : ""), href=formatted+"#tests") #{tests} tests
          a.undecorated(class=(quizzes > 0 ? "has" : ""), href=formatted+"#quizzes") #{quizzes} quizzes
          a.undecorated(class=(hw > 0 ? "has" : ""), href=formatted+"#homework") #{hw} homework items
          a.undecorated(class=(projects > 0 ? "has" : ""), href=formatted+"#projects") #{projects} projects
          

//        
  mixin day(day)
    .col-xs-12.col-sm-6.col-md-4
      .panel(class=(moment(day.date).isSame(today) ? "panel-primary" : "panel-default"))
        .panel-heading
          h1.panel-title
            a(href="/days/"+moment(day.date).format("YYYY-MM-DD"))= moment(day.date).format("dddd, MMMM Do")
            small.right= helpers.fromNow(moment(day.date))
        .panel-body
          -formatted = "/days/"+moment(day.date).format("YYYY-MM-DD")
          -hw = (day.items.homework ? day.items.homework.length : 0) 
          -tests = (day.items.tests ? day.items.tests.length : 0)
          -quizzes = (day.items.quizzes ? day.items.quizzes.length : 0)
          -projects = (day.items.projects ? day.items.projects.length : 0)
          p
            | On this #[b= moment(day.date).format("dddd")], you have 
            | #[a(href=formatted+"#homework", style="color: #2780e3;") #{hw} homework assignments, ]
            | #[a(href=formatted+"#tests", style="color: #f0005e;") #{tests} tests, ]
            | #[a(href=formatted+"#quizzes", style="color: #7643a8;") #{quizzes} quizzes, ]and 
            | #[a(href=formatted+"#projects", style="color: #ff4309;") #{projects} projects].
