extends /layout

block content
  .container
    if date == false
      .page-header
        h1 Invalid Date
    else    
      .page-header
        h1= date.format("dddd, MMMM Do YYYY")
          small.right= fromNow
      .row
        .col-xs-12.text-center
          if day != false
            b#schedule-day= day.scheduleDay 
      br
      br.hidden-xs
      
      .row.hidden-xs
        .col-xs-12.text-center
          input.dial(type="text", value="50", data-fgcolor="#2780e3", data-readonly="true", data-width="100")
          span.right-spacer
          input.dial(type="text", value="50", data-fgcolor="#f0005e", data-readonly="true", data-width="100")
          span.right-spacer
          input.dial(type="text", value="50", data-fgcolor="#7643a8", data-readonly="true", data-width="100")
          span.right-spacer
          input.dial(type="text", value="50", data-fgcolor="#ff4309", data-readonly="true", data-width="100")
      
      
      .row
        +pane("Homework", "primary", ['Nothing'])  
        
        +pane("Tests", "danger", ['Nothing'])
        
        +pane("Quizzes", "info", ['Nothing'])
        
        +pane("Projects", "warning", ['Nothing'])
  
  mixin pane(title, ptype, items)
    .col-xs-12.col-sm-6.col-md-4
      .panel(class="panel-"+ptype)
        .panel-heading
          h1.panel-title
            a(href="/days/"+dateString+"/"+title)= title
        table.table
          for i in items
            tr
              td= i
  
  script(src="/javascripts/jquery.knob.js")
