extends /layout

block content
  .container
    if date == false
      .page-header
        h1 Invalid Date
    else    
      .page-header
        h1= date.format("dddd, MMMM Do YYYY")
          small.right= fromNow
      .row
        .col-xs-12.text-center
          if day != false
            b#schedule-day #{day.scheduleDay}-Day 
          else
            b#schedule-day Click to set a Schedule Day!
            
      p#hw-info.text-center
        | On this #[b= date.format("dddd")], you have #[a(href="#homework", style="color: #2780e3;")= (items.homework ? items.homework.length : 0) + " homework"] assignments 
        | to complete, #[a(href="#tests", style="color: #f0005e;") 0 tests] to take, #[a(href="#quizzes", style="color: #7643a8;") 0 quizzes] to take, and 
        | #[a(href="#projects", style="color: #ff4309;") 0 projects] due.
      
      br
      br.hidden-xs
      .row.hidden-xs
        .col-xs-12.text-center
          input.dial(type="text", value="50", data-fgcolor="#2780e3", data-readonly="true", data-width="100")
          span.right-spacer
          input.dial(type="text", value="50", data-fgcolor="#f0005e", data-readonly="true", data-width="100")
          span.right-spacer
          input.dial(type="text", value="50", data-fgcolor="#7643a8", data-readonly="true", data-width="100")
          span.right-spacer
          input.dial(type="text", value="50", data-fgcolor="#ff4309", data-readonly="true", data-width="100")
      
      // HOMEWORK
      .row#homework
        .col-xs-12
          .page-header
            h2.text-center Homework
          .col-xs-12.text-center
            //b Items
        
        .row
          for title in hwTitles
            .col-xs-12.col-md-6.hw-item.text-center
              a.title(href="/courses/"+homework[title][0].course.mID)= title
              ol
                for item in homework[title]
                  li
                    span(class="assignment"+(item.completed == true ? " completed" : ""))= item.desc+" "
                    i.fa.fa-close.remove-assignment
                    span  &nbsp;  &nbsp;  &nbsp;
              br
        br
        .row
          form.form-inline#homework-form(method="POST", action="/days/"+date.format('YYYY-MM-DD')+"/homework?sd=B", role="form")
            select.form-control(id="newHWItemCourse", name="newHWItemCourse", required=true)
              for course in currentUser.courses
                option(value=course.mID)= course.title
            input.form-control(id="newHWItemDesc", name="newHWItemDesc", type="text", placeholder="Description", required=true)
            button.btn.btn-primary.full-when-xs#homework-button Add
        
      -for(var i=0;i<6;i++)
        br
      
      // TESTS
      .row#tests
        .col-xs-12
          .page-header
            h2.text-center Tests
          .col-xs-12.text-center
            //b Items
        
        .col-xs-12.text-center
          if !items.tests
            h4 No tests!
            -for(var i=0;i<4;i++)
              br
          form.form-inline#tests-form(method="POST", role="form")
            select.form-control(id="newTestSubject", name="newTestSubject", required=true)
              for course in currentUser.courses
                option(value=course.mID)= course.title
            input.form-control(id="newTestDesc", name="newTestDesc", type="text", placeholder="Description", required=true)
            button.btn.btn-primary.full-when-xs#test-button Add
          br
          br
          br
  script(src="/javascripts/jquery.knob.js")
