div
  ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
      a(href='#quick-add', aria-controls='work', role='tab', data-toggle='tab') Quick Add
    li(role='presentation')
      a(href='#todays-schedule', aria-controls='profile', role='tab', data-toggle='tab') Today's Classes
    li(role='presentation')
      a(href='#moodle-links', aria-controls='messages', role='tab', data-toggle='tab') Moodle Links
  .tab-content
    #quick-add.tab-pane.active(role='tabpanel')
      form.form-inline(role="form", action="/", method="POST")
        .form-group
          .input-group
            .input-group-addon.fa.fa-link
            input.form-control(type="text", name="description", placeholder="Assignment")
        button.btn.btn-default Add
    #todays-schedule.tab-pane(role='tabpanel')
      table.table#schedule-table
        thead
          tr
            th When
            th What
            th Where
        tbody  
          for s in todaysInfo.periods
            tr
              td= moment(s.startTime, "hh:mm A").format("h:mm A")
              td= s.className
              td= s.room
    #moodle-links.tab-pane(role='tabpanel').text-center
      each c in currentUser.courses
        a.btn.btn-default.hidden-xs(href="http://moodle.regis.org/course/view.php?id="+c.mID, target="_blank")= c.title
        a.visible-xs(href="http://moodle.regis.org/course/view.php?id="+c.mID, target="_blank")= c.title
        br.visible-xs

    
  
