header
  nav.navbar.navbar-default.navbar-fixed-top#real-nav
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a#brand.navbar-brand(href=(isHomepage ? "#" : "/home"))
          img.tilt#ontrac-img(title="Homepage.", src="/images/logos/logo64x64.png")
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') View
              span.caret
            ul.dropdown-menu(role='menu')
              if loggedIn
                li(class=(helpers.isPage(page, "users")))
                  a(href="/users", title="View and search through list of all students, registered and unregistered.") Users
                li(class=(helpers.isPage(page, "advisements")))
                  a(href="/advisements", title="View and search through all advisements at Regis.") Advisements
                li(class=(helpers.isPage(page, "thoughts")))
                  a(href="/thoughts", title="Record your daily thoughts on school days.") Daily Thoughts
                
              if loggedIn == true
                if isHomepage == false
                  li(role="separator").divider
                  li
                    a(href="http://intranet.regis.org/", target="_blank") Intranet
                  li
                    a(href="http://moodle.regis.org/my/", target="_blank") Moodle
                  li
                    a(href="https://owa.regis.org/owa/", target="_blank") Email
                  li
                    a(href="https://myfiles.regis.org/", target="_blank") MyFiles
              
              if loggedIn == false
                if isHomepage == true
                  
                  li
                    a(target="_blank", title="View the public source code behind this project, maintained solely by me.", href="https://github.com/Aedificem/ontrac") Source Code
                  li
                    a(target="_blank", title="View the recorded issues that I'm working on for the site.", href="https://waffle.io/Aedificem/ontrac/join") Issue Progress
                  li
                    a(target="_blank", title="View the features that are being worked on and that are coming soon.", href="https://trello.com/b/b9JwXnPH/ontrac") Planned Features
              
          if loggedIn
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Your Courses
                span.caret
              ul.dropdown-menu(role='menu')
                each c in currentUser.courses
                  li
                    a(href="http://moodle.regis.org/course/view.php?id="+c.mID, target="_blank")= c.title
                  //
                    if currentUser.customLinks
                      if currentUser.customLinks[c._id]
                        each l in currentUser.customLinks[c._id]
                          li.text-muted
                            a(href=l.link, target="_blank")= l.name
                li(role="separator").divider
                li
                  a(href="#") Edit Custom Links

          if loggedIn
            li(class=(helpers.isPage(page, "work") ? "active" : ""))
              a(href=(page == "/work" ? "#" : "/work"), title="Manage your work.").service.fa.fa-book

            if previousDay !== false
              li.hidden-xs
                a.fa.fa-arrow-left(href='/work/'+previousDay, style="padding-left: 4px; padding-right: 4px;", title="View the previous work day!")
            if nextDay !== false
              li.hidden-xs
                a.fa.fa-arrow-right(href='/work/'+nextDay, style="padding-left: 4px; padding-right: 4px;margin-right: 10px;", title="View the next work day!")

            li(class=(helpers.isPage(page, "study") ? "active" : "study"))
              a.service(href=(page == "/study" ? "#" : "/study"), title="Manage your studying.").fa.fa-calendar-check-o

            li(class=(helpers.isPage(page, "grades") ? "active" : ""))
              a.service(href=(page == "/grades" ? "#" : "/grades"), title="Manage your grades.").fa.fa-line-chart


        ul.nav.navbar-nav.navbar-right
          if loggedIn
            li#points-badge
              a(href="/shop")
                span.badge(style="margin: 0;", title="Your points!")= currentUser.points
            li.hidden-xs
              a(href="/users/"+currentUser.username+"/schedule", title="View your class schedule.", style="padding-right: 5px;padding-left: 2px;").fa.fa-calendar
            li.hidden-xs
              a(href="#", data-toggle="modal", data-target="#feedback-modal", title="Offer feedback.", style="padding-right: 5px;padding-left: 2px;").fa.fa-comment
            li.hidden-xs
              a(href="#", title="Manage your reminders.", data-target="#reminders-modal", data-toggle="modal", style="padding-right: 2px;padding-left: 2px;").reminder-bell.fa.fa-bell-o
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') #{currentUser.firstName} #{currentUser.lastName}
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href="/users/"+currentUser.username, title="View your public profile as other users see it.") View Profile
                li
                  a(href="/users/profile") Edit Your Profile
                if (currentUser.username == "fmatranga18")
                  if helpers.isPage(page, "admin") == false
                    li
                      a(href="/admin") Admin Page
                li
                  a(href='/logout') Logout
          else
            li
              a(href="#", data-toggle="modal", data-target="#login-modal")
                b Log In
