aside#sidebar
  br
  section.center
    #user-status.dropdown
      img#status-circle(src="/images/statuses/status-available.png")
      span &nbsp;
      b.dropdown-toggle(data-toggle="dropdown") Loading...
        span.caret
      ul.dropdown-menu
        li
          a(href="#")
            img(src="/images/statuses/status-available.png")
            |  Available
        li
          a(href="#")
            img(src="/images/statuses/status-working.png")
            |  Working
        li
          a(href="#")
            img(src="/images/statuses/status-busy.png")
            |  Busy
        li
          a(href="#", title="You will not appear on the online users list.")
            img(src="/images/statuses/status-offline.png")
            |  Offline
      br
    a(href="#", data-toggle="popover", data-container="body", data-content="<b>You</b>", data-placement="bottom").online-badge
      span.badge 1 online
  
    if todaysInfo 
      #scheduleDaySidebar
        hr(style="margin-bottom: 10px;")
        b.larger #{todaysInfo.scheduleDay} - Day
        hr(style="margin-top: 10px;")

  if todaysInfo && helpers.nowIs("between", "8:40 AM", "2:50 PM")
    if isHomepage == false
      section#sidebar-class-info
        #sd-nowc
          b.larger Current Class
          
          br
          span#sidebar-now-class
          i.right#nowclass-room
          br
        #sd-nextc
          br
          b Next Class
          br
          span#sidebar-next-class
          i.right#nextclass-room        
        #period-countdown.text-center(title="The time until the end of the period.")
          h3 Loading...
  
  if todaysInfo && helpers.nowIs("before", "2:50 PM")
    hr
    section#todays-schedule
      span(title=todaysInfo.scheduleDay)
        b.larger Today's Schedule
      ul.list-group
        for s in todaysInfo.periods
          if s.className.indexOf(" Advisement") == -1
            | !{helpers.makePeriodListItem(s)}
              
  if nextSD && (todaysInfo == undefined || helpers.nowIs("after", "2:50 PM"))
    hr
    section#next-schedule
      span(title=nextCD)
        b.larger Next Schedule
        i.right #{nextSD}-Day
      ul.list-group
        for s in currentUser.scheduleObject.dayClasses[nextSD]
          if s.className.indexOf(" Advisement") == -1
            | !{helpers.makePeriodListItem(s)}
  
  section#mumble-section
    b On Mumble Now
      small.text-muted.right 0 users
    #mumble-list
    a(target="_blank", href="http://wiki.mumble.info/wiki/Main_Page#Download_Mumble") Install
    b  | 
    a(href="mumble://"+currentUser.username+":regis@www.getontrac.info/School?version=1.2.0") Join
  
    
