aside#sidebar
  br
  section.center
    #user-status.dropdown
      img#status-circle(src="/images/statuses/status-available.png")
      span &nbsp;
      b.dropdown-toggle(data-toggle="dropdown") Loading...
        span.caret
      ul.dropdown-menu
        li
          a(href="#")
            img(src="/images/statuses/status-available.png")
            |  Available
        li
          a(href="#")
            img(src="/images/statuses/status-working.png")
            |  Working
        li
          a(href="#")
            img(src="/images/statuses/status-busy.png")
            |  Busy
        li
          a(href="#", title="You will not appear on the online users list.")
            img(src="/images/statuses/status-offline.png")
            |  Offline
      br
    a(href="#", tabindex="0", role="button", data-toggle="popover", data-trigger="focus", data-content="<b>You</b>", data-placement="bottom").online-badge
      span.badge 1 online
  
    if todaysInfo 
      #scheduleDaySidebar
        hr(style="margin-bottom: 10px;")
        b.larger #{todaysInfo.scheduleDay} - Day
        hr(style="margin-top: 10px;")
  //
    hr
    section#agenda
      b.larger Work Agenda
      br
      ul
        li
          a(href="/work") 0 homework items
        li 0 tests/quizzes
      
  if todaysInfo && moment().isBefore(moment().hour(15))
    hr
    section#todays-schedule
      span(title=todaysInfo.scheduleDay)
        b.larger Today's Schedule
      ul.list-group
        for s in todaysInfo.periods
          if s.className.indexOf(" Advisement") == -1
            li(data-mID=s.mID, title=s.startTime+" - "+s.endTime+" in "+s.room, data-toggle="tooltip", class=(s.className=="Lunch" ? "disabled" : "")).list-group-item
              if s.mID
                a.undecorated(style="text-decoration: none;", target="_blank", href="http://moodle.regis.org/course/view.php?id="+s.mID)= s.className.split("(")[0]
              else
                | #{s.className.split("(")[0]}
  if nextSD && moment().isAfter(moment().hour(15))
    hr
    section#next-schedule
      span(title=nextCD)
        b.larger Next Schedule
        i.right #{nextSD}-Day
      ul.list-group
        for s in currentUser.scheduleObject.dayClasses[nextSD]
          if s.className.indexOf(" Advisement") == -1
            li(data-mID=s.mID, title=s.startTime+" - "+s.endTime+" in "+s.room, data-toggle="tooltip", class=(s.className=="Lunch" ? "disabled" : "")).list-group-item
              if s.mID
                a.undecorated(style="text-decoration: none;", target="_blank", href="http://moodle.regis.org/course/view.php?id="+s.mID)= s.className.split("(")[0]
              else
                | #{s.className.split("(")[0]}
  
  if todaysInfo
    if isHomepage == false
      section#sidebar-class-info
        #sd-nowc
          b.larger Current Class
          
          br
          span#sidebar-now-class
          i.right#nowclass-room
          br
        #sd-nextc
          br
          b Next Class
          br
          span#sidebar-next-class
          i.right#nextclass-room
        hr
  section
    b Mumblers
    #mumble-list
  
  section#period-countdown.text-center(title="The time until the end of the period.")
    h1 00:00
    
