extends /layout

block content
  .container-fluid
    include /info
    .jumbotron.no-margin
      h1.no-margin= title
      br
      #stats.larger
        b This year's stats:
        span(data-toggle="tooltip", title="Hooray!")  0 homework assignments, 
        span(data-toggle="tooltip", title="Hooray!") 0 tests, 
        span(data-toggle="tooltip", title="Hooray!") 0 quizzes, 
        span(data-toggle="tooltip", title="Hooray!") 0 projects
    .row
      .col-xs-12
        div(style="background-color: #222;")
          if currentUser.scheduleObject.scheduleDays[moment().format("YYYY-MM-DD")]
            a.btn.btn-default(href="/work/today", title="View the work due today!") Today's Homework
          a.btn.btn-default(href="/work/closest", title="Find the closest day from today that you have work!")
            b= "Homework "+(nDName == "Monday" ? "for the Weekend": "due "+nDName)

    .row
      .col-xs-12.col-sm-6.col-md-5
        .page-header
          h2 Upcoming Projects
            span.right.fa.fa-plus(data-toggle="modal", data-target="#add-project-modal", style="font-size: .7em")
        .col-xs-12
          if !projects
            p.text-muted Nothing coming up in a while!
          else
            each p in projects
              a.project-link.undecorated(href="/work/"+p._id, style="font-size: 1."+p.priority+"em")
                b(title="A priority "+p.priority+" "+p.course.title+" project due on "+moment().format("YYYY-MM-DD")+".")= "P"+p.priority+" "+p.course.title +": "
                span(title="Due "+moment(p.date).fromNow())= p.title
                small.text-muted.right(title=moment(p.date).fromNow()) #{moment(p.date).format("dddd, MMMM Do")}
              br
      .col-xs-12.col-sm-6.col-md-3#due-today
        .page-header
          h2 Homework Due Today
            small.right 0 items
        
        .col-xs-12
          p.text-center &nbsp;
          table.table.table-condensed
            tr
              td 
      
      .col-xs-12.col-sm-6.col-md-4#upcoming(data-closest=closestDay)
        .page-header
          h2= (nDName == "Monday" ? "Weekend Homework" : "Work due "+nDName)
            small.right 0 items
        
        .col-xs-12
          p.text-center &nbsp;
          table.table.table-condensed
            tr
              td 
      .col-xs-12.col-md-6.center
        #hw-calendar
        hr
  include project-modal
