extends /layout

block content
  .container-fluid
    include /info
    .page-header.no-margin.center-xs
      h1(data-toggle="tooltip", title=fromNow) #{date.format("dddd, MMMM Do YYYY")}
        span.visible-xs.fa.fa-pencil#toggle-hw-form
        b.hidden-xs.right #{scheduleDay}-Day 
    
    .row
      .col-xs-12.visible-xs
        p.no-margin.full-width.text-center#schedule-day
          if previousDay !== false
            span
              a.fa.fa-arrow-left.left(href='/work/'+previousDay, title=moment(previousDay).format("dddd, MMMM Do"))
          | #{scheduleDay}-Day
          if nextDay !== false
            span
              a.fa.fa-arrow-right.right(href='/work/'+nextDay, title="View the next work day!")
        hr(style="margin-top: 2px; margin-bottom: 7px;")
      include homework
    
    .row#day-schedule
      br.hidden-xs
      hr.visible-xs
      .col-xs-12
        h2.visible-xs Your #{scheduleDay}-Day Classes
        table.table.table-hover.schedule-table.visible-xs
          for s in classes
            if s.className.indexOf("Advisement") == -1
              tr(class=(s.room=="Cafeteria" ? "active" : ""))
                td(data-toggle="tooltip", title=moment(s.startTime, "hh:mm A").format("h:mm A")+" to "+moment(s.endTime, "hh:mm A").format("h:mm A"))
                  a.undecorated(style="text-decoration: none;", target="_blank", href=(s.mID ? "http://moodle.regis.org/course/view.php?id="+s.mID : "#"))= s.className.split("(")[0]
        table.table.schedule-table.hidden-xs.center
          caption.center
            b Your #{scheduleDay}-Day Classes
          tbody
            tr
              for s in classes
                if s.className.indexOf(" Advisement") == -1
                  td(data-length=s.duration, class=(s.room=="Cafeteria" ? "active" : ""), data-toggle="tooltip", title=moment(s.startTime, "hh:mm A").format("h:mm A")+" to "+moment(s.endTime, "hh:mm A").format("h:mm A"))= s.className.split("(")[0]
                    if(s.mID)
                      br.visible-sm
                      i.fa.fa-link.hidden-xs(data-mid=s.mID)
                      a.fa.fa-link.visible-xs(href="http://moodle.regis.org/mod/page/view.php?id="+s.mID)
                    
