extends /layout

block content
  .container-fluid
    include /info
    .page-header.no-margin.center-xs
      h1(data-toggle="tooltip", title=fromNow)= date.format("dddd, MMMM Do YYYY")
        b.hidden-xs.right #{scheduleDay}-Day
    
    .row
      .col-xs-12.visible-xs
        p.no-margin.full-width.text-center#schedule-day
          if previousDay !== false
            span
              a.fa.fa-arrow-left.left(href='/work/'+previousDay, title=moment(previousDay).format("dddd, MMMM Do"))
          | #{scheduleDay}-Day
          if nextDay !== false
            span
              a.fa.fa-arrow-right.right(href='/work/'+nextDay, title="View the next work day!")    
      .col-xs-12
        hr(style="margin-top: 0")
        ul.nav.nav-pills
          li.active(role='presentation')
            a(href='#homework-tab') Homework
              span.badge.right.hw-badge 
          li(role='presentation')
            a(href='#tests-tab') Tests/Quizzes
          li(role='presentation')
            a(href='#') Messages
    
      include homework
    
    .row#day-schedule
      br.hidden-xs
      hr.visible-xs
      .col-xs-12
        h2.visible-xs Your #{scheduleDay}-Day Classes
        table.table.table-hover.schedule-table.visible-xs
          for s in classes
            if s.className.indexOf("Advisement") == -1
              tr(class=(s.room=="Cafeteria" ? "active" : ""))
                td(data-toggle="tooltip", title=moment(s.startTime, "hh:mm A").format("h:mm A")+" to "+moment(s.endTime, "hh:mm A").format("h:mm A"))
                  a.undecorated(style="text-decoration: none;", target="_blank", href=(s.mID ? "http://moodle.regis.org/course/view.php?id="+s.mID : "#"))= s.className.split("(")[0]
        table.table.schedule-table.hidden-xs.center
          caption.center
            b Your #{scheduleDay}-Day Classes
          tbody
            tr
              for s in classes
                if s.className.indexOf(" Advisement") == -1
                  td(class=(s.room=="Cafeteria" ? "active" : ""), data-toggle="tooltip", title=moment(s.startTime, "hh:mm A").format("h:mm A")+" to "+moment(s.endTime, "hh:mm A").format("h:mm A"))
                    if s.mID
                      a.undecorated(style="text-decoration: none;", target="_blank", href="http://moodle.regis.org/course/view.php?id="+s.mID)= s.className.split("(")[0]
                    else
                      | #{s.className.split("(")[0]}

      .col-sm-12.text-center.hidden-xs
        br
        br
        br
        input#hw-dial(title="Progress on Homework", data-toggle="tooltip", type="text", value="50", data-fgcolor="#2780e3", data-readonly="true", data-width="100")
        span.right-spacer
        input.dial(title="Amount of Tests", data-toggle="tooltip", type="text", value="50", data-fgcolor="#f0005e", data-readonly="true", data-width="100")
        span.right-spacer
        input.dial(title="Amount of Quizzes", data-toggle="tooltip", type="text", value="50", data-fgcolor="#7643a8", data-readonly="true", data-width="100")
        span.right-spacer
        input.dial(title="Amount of Projects", data-toggle="tooltip", type="text", value="50", data-fgcolor="#ff4309", data-readonly="true", data-width="100")
