extends /layout

block content
  .container
    include /info
    .page-header
      h1 Edit Your Profile
    
    .row
      .col-xs-12
        form.form(role="form", method="POST")
          .form-group
            label(for="newnickname") Nickname
            input.form-control(type="text", name="newnickname", maxlength="50", value=currentUser.nickname)
          .form-group
            label(for="newbio") Bio
            textarea.form-control#newbio(name="newbio")= currentUser.bio
          .form-group
            label.checkbox-inline(for="filterProfanity")
              input(name="filterProfanity", type="checkbox", checked=currentUser.preferences.filterProfanity)
              b Filter Profanity
          .form-group
            label(for="newsteamlink") Steam Profile Link
            input.form-control#newsteamlink(type="url", name="newsteamlink", value=currentUser.steamlink)
          button.btn.btn-primary Save
        
        //
          hr
          .form-group
            label(for="courseForLinks") Edit Custom Course Links
            select.form-control#courseForLinks(name="courseForLinks")
              option Select Course
              for c in currentUser.courses
                option(value=c._id)= c.title

            .input-group
              input.form-control#courseLinkName(type="text", name="courseLinkName", placeholder="Page Name")
              input.form-control#courseLinkHref(type="url", name="courseLinkHref", placeholder="Page URL")
              span.input-group-addon.fa.fa-plus#addCourseLink
            ul.list-group#custom-links
            
          
