extends /layout

block content
  .container
    if loggedIn
      h3 Online Now: 
        small#online-user-list
      
    .page-header
      h1(title="The cool guys.") Registered Users
        
        if tableForm == false
          a.btn.btn-default.right(href="/users?table=1") Table Form
        else
          a.btn.btn-default.right(href="/users") Regular Form
        
    .row
      .col-xs-12
        form.form-inline#search.hidden
          .form-group
            label(for="name") Name
            input.form-control(type="text", name="name")
          button.btn.btn-primary Search
    
    if tableForm
      .row
        .col-xs-12
          table.table.table-hover.table-striped.user-table
            thead
              tr
                th Picture
                th Advisement
                th Name
                th Rank
            for user in registered
              tr
                td(style="vertical-align: middle;")
                  img.table-pic(src="https://webeim.regis.org/photos/regis/Student/"+user.code+".jpg")
                td.larger(style="vertical-align: middle;")
                  a(href="/advisements/"+user.advisement)= user.advisement
                td.larger(class=(loggedIn ? "user-badge" : ""), style="vertical-align: middle;", data-username=user.username)= user.fullName
                td.larger(style="vertical-align: middle;")= user.rankName
    else
      .row
        for user in registered
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center
            .user-box
              img(alt=user.bio, src="https://webeim.regis.org/photos/regis/Student/"+user.code+".jpg")
              .btn-group.full-width
                a.user-adv(href=(loggedIn ? "/advisements/"+user.advisement : "#"))= user.advisement
                button.btn.btn-default.full-width(data-username=user.username, class=(loggedIn ? "user-badge" : ""), type="button")= user.fullName
    .row
      .col-xs-12
        .page-header
          h2 All Users
            small.right
              ul.pagination.pagination-sm
                li
                  a(href="?page="+prev, aria-label="Previous")
                    span(aria-hidden="true") &laquo;
                if (pageNum - 2) > 0
                  li
                    a(href="?page="+(pageNum - 2))=(pageNum - 2)
                if (pageNum - 1) > 0
                  li
                    a(href="?page="+(pageNum - 1))=(pageNum - 1)
                li.active
                  a(href="#")= pageNum
                if (pageNum + 2) <= pages
                  li
                    a(href="?page="+(pageNum + 1))=(pageNum + 1)
                if (pageNum + 1) <= pages
                  li
                    a(href="?page="+(pageNum + 2))=(pageNum + 2)
                li
                  a(href="?page="+next, aria-label="Previous")
                    span(aria-hidden="true") &raquo;
    .row
      .col-xs-12
        table.table.user-table
          thead
            th Advisement
            th Grade
            th Name
          for user in users
            tr(class=(currentUser && user.username == currentUser.username ? "success" : ""))
              td
                img.table-pic(class=(loggedIn ? "user-badge" : ""), data-username=user.username, src=user.mpicture)
              td.larger(style="vertical-align: middle;")
                a.undecorated(href="/advisements/"+user.advisement)= user.advisement
              td.larger(style="vertical-align: middle")= user.gradeName
              td.larger(class=(loggedIn ? "user-badge" : ""), data-username=user.username, style="vertical-align: middle;")= user.fullName
            
    .row
      br.bottom-spacer
