extends /layout

block content
  .container
    include /info
    if user == false
      .page-header
        h1 That User Does Not Exist!
      
      span You have either entered an invalid username or the user has not registered yet.
    else
      .page-header
        h1.center-xs #[b= user.gradeName] #[br.visible-xs] #{user.fullName} of 
          | #[a.undecorated(style="font-weight: bold", href="/advisements/"+user.advisement)= user.advisement]
          small.right.hidden-xs.hidden-sm #{user.points} points
      .user-profile
        .row
          .col-xs-12.col-sm-6.col-lg-8
              .col-xs-12.col-sm-12.col-md-6.center-xs
                .holder
                  img#profile-pic(title="Looking good!", alt=user.firstName+" missed picture day!", src=user.ipicture, onError="this.onerror=null;this.src='"+user.mpicture+"';")
                  if user.registered
                    #stars(title=user.firstName+" is a "+user.rankName, data-toggle="tooltip", style="color: yellow; font-size: 130%; padding-left: 3px;")
                      for s in user.stars
                        span.fa.fa-star
                    if user.username != currentUser.username
                      b #{user.firstName} has #{pointdiff} points than you #[span.text-muted (#{currentUser.points})].
                    if user.bio
                      blockquote
                        p= user.bio
                        footer #{user.fullName} 2015
                br
              .col-xs-12.col-sm-12.col-md-6
                .panel.panel-default
                  .panel-heading
                    h1.panel-title  Info
                      if user.registered == false
                        b.text-danger.right UNREGISTERED
                  .panel-body
                    .user-info
                      b Rank:
                      |  #{user.rankName}
                      br
                      b Grade:
                      |  #{user.gradeName}
                      br
                      b Advisement:
                      |  #{user.advisement}
                      if user.registered
                        br
                        b Last Logged In:
                        |  #{moment(user.last_login_time).fromNow()}
                        br
                        b User Since:
                        |  #{moment(user.registered_date).format('dddd, MMMM Do YYYY')}
                        br
                        if user.steamlink
                          b
                            a(data-toggle="tooltip", title="This guy is cool.", href=user.steamlink, target="_blank") Steam Profile
                
                .panel.panel-warning
                  .panel-heading
                    h1.panel-title  Stats

                  table.table.table-responsive
                    tr
                      td
                        b Login Count
                      td= user.login_count
                    tr
                      td Total Points Earned
                      td= user.points
                    tr
                      td Current Points
                      td= user.points
          
          .col-xs-12.col-sm-6.col-md-6.col-lg-4
            .panel.panel-success
              .panel-heading
                h1.panel-title  Achievements
              ol.list-group
                if user.achievements.length > 0
                  for a in allAchievements
                    if user.achievements.indexOf(a.id) > -1
                      li.list-group-item= a.name
                        small.right= "["+a.reward+" points]"
                else
                  li.text-muted.list-group-item #{user.firstName} has not yet earned any achievements.
                
      if user.registered
        .row
          if todaysInfo
            .col-xs-12.text-center#profile-schedule
              p.larger.center Loading schedule info...
          else
            .col-xs-12
              p.larger.text-center #{user.firstName} does not have school today!
      .row
        .col-xs-12
          hr
          h2 #{user.firstName}'s Classes
          br
          .user-classes
            for c in user.courses
              +class(c)
          
      
    .row
      hr
      if user !== false
        .col-sm-9.hidden-xs
          if currentUser.username == user.username
            a.btn.btn-primary(href="/users/profile") Edit Your Profile
          else
            a.btn.btn-default(href="/users/"+user.username+"/schedule", title="View "+user.firstName+"'s schedule.'") View Schedule
            a.btn.btn-default(href="mailto:"+user.email) Email #{user.firstName}
          a.btn.btn-default(href="http://moodle.regis.org/user/profile.php?id="+user.mID) Moodle Profile
        
        .col-xs-9.visible-xs
          .btn-group.dropup
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Actions &nbsp;
              span.caret
              span.sr-only Toggle Dropdown
            ul.dropdown-menu
              if currentUser.username == user.username
                li
                  a(href="/users/profile") Edit Your Profile
              li
                a(href="/users/"+user.username+"/schedule") View Schedule
              li
                a(href="mailto:"+user.email) Email
              li
                a(href="http://moodle.regis.org/user/profile.php?id="+user.mID) Moodle Profile
      .col-xs-3
        a.right.btn.btn-primary(href="/users") Back to User List
      
mixin class(course)
  .col-xs-12.col-sm-6.col-md-4
    .panel(title=(currentUser.username !== user.username && currentUser.sclasses.indexOf(course.mID) > -1 ? "You share this class!" : ""), class=( currentUser.username !== user.username && currentUser.sclasses.indexOf(course.mID) > -1 ? "panel-success" : "panel-default"))
      .panel-body
        h1.panel-title
          span.course-badge(data-mid=course.mID)= course.title
          if course.teacher
            small.right.teacher-badge(data-username=course.teacher.username) Teacher #{course.teacher.fullName}
