extends /layout

block content
  .container
    .page-header
      h1.center-xs #[b= user.gradeName+" "+user.rankName] #[br.visible-xs] #{user.fullName} of #{user.advisement}
        small.right.hidden-xs.hidden-sm #{user.points} points
    if user.verified == false
      .alert.alert-danger(role="alert") This user is not verified to truly be #{user.firstName}! Therefore this account is restricted in what services it can use.
    .user-profile
      .row
        .col-xs-12.col-sm-6.col-md-4.center-xs
          img#profile-pic(src="https://webeim.regis.org/photos/regis/Student/"+user.code+".jpg")
          br
          blockquote
            a.profile-user-adv(href="/advisements/"+user.advisement)= user.advisement
            if user.bio
              p= user.bio
            else
              p I haven't set my bio yet!
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-default
            .panel-heading
              h1.panel-title  Info
            .panel-body
              .user-info
                b Rank:
                |  #{user.rankName}
                br
                b Grade:
                |  #{user.gradeName}
                br
                b Advisement:
                |  #{user.advisement}
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-primary
            .panel-heading
              h1.panel-title  Classes
            .panel-body
              .user-info
                b Advisement:
                |  #{user.advisement}
      .row
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-success
            .panel-heading
              h1.panel-title  Achievements
            .panel-body
              .user-info
                b Advisement:
                a(href="/advisements/"+user.advisement)  #{user.advisement}
        .col-xs-12.col-sm-6.col-md-4
          .panel.panel-warning
            .panel-heading
              h1.panel-title  Stats
            .panel-body
              .user-info
                b Advisement:
                |  #{user.advisement}
