extends /layout

block content
  .container
    .page-header
      h1 Register
    .row
      .col-xs-12
        include /info
        form(method="POST", action="/register")
          .form-group
            label(for="name") Full Name
            input.form-control#name(required=true, name="name", maxlength="25", placeholder="Full Name", type="text")
          .form-group
            label(for="email") Email
            input.form-control#email(required=true, name="email", maxlength="25", placeholder="Email", type="text")
          .form-group
            label(for="password") Password
            input.form-control#password(required=true, name="password", pattern=".{5,}", maxlength="25", placeholder="Password", type="password")
          .form-group
            label(for="advisement") Advisement
            select.form-control#advisement(name="advisement", required=true)
              for a in adv
                option= a
          .form-group
            label(for="code") Student ID#
            input.form-control#code(required=true, name="code", maxlength="25", placeholder="Code", type="text")

          .row
            a.left.btn.btn-default(href="/login") Already Registered?
            button.btn.right.btn-primary Register
