extends /layout

block content
  .container
    include /info
    if teacher == false
      .page-header
        h1 That teacher does not exist!
    
    else
      .page-header
        h1 #[b Teacher] #{teacher.fullName}
      .row
        .col-xs-12.col-sm-3
          img.teacher-profile-img(src=teacher.ipicture, onError="this.onerror=null;this.src='"+teacher.mpicture+"';")
        .col-xs-12.col-sm-9
          if teacher.ratingCount > 0
            b Going by #{teacher.ratingCount} unique ratings, this teacher is #{teacher.ratingString}.
          else
            b Not enough students have rated this teacher to display an average.
      
      hr
      .col-xs-12.col-sm-6
        
        button.btn.btn-success.disabled(title="This is not one of your teachers!") Like   
        button.btn.btn-danger.disabled(title="This is not one of your teachers!") Dislike
    
      .row
          .col-xs-12
            hr
            h2 Classes
            br
            .teacher-classes
              if teacher.courses
                for c in teacher.courses
                  +class(c)
    
    .col-xs-12
      if teacher != false
        hr
        a.btn.btn-default(href="http://moodle.regis.org/user/profile.php?id="+teacher.mID, target="_blank") Moodle Page
        a.btn.btn-default(href="mailto:"+teacher.email) Email
      a.btn.btn-primary(href="/teachers") Back to Teachers
    
mixin class(course)
  .col-xs-12.col-sm-6.col-md-4
    .panel.panel-default
      .panel-body
        h1.panel-title
          a(href="/courses/"+course.mID)= course.title
